@{
  Layout ="_Layout";
}

<p>Eau Claire's Salon</p>
<br>
<p class="btn btn-success">@Html.ActionLink("Pick a Stylist", "Index", "Stylist")</p>
<p class="btn btn-success">@Html.ActionLink("Select a Client", "Index", "Client")</p>