@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Hire a New Stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add a New Stylist" />
}
<br>

<p class="btn btn-success">@Html.ActionLink("Show all Stylists", "Index")</p>